@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/ClashGrotesk-Regular.otf') format('opentype');
    unicode-range: U+000-5FF;
  }

  @font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/ClashGrotesk-Medium.otf') format('opentype');
    unicode-range: U+000-5FF;
  }
}
